.map {
  width: 100%;
  height: 100%;
}

.dojo-listing {
  text-align: center;
}

.dojo {
  background-color: rgba(255,255,255,0.8);
}

body {
  background: url("../bilder/hintergrund.jpg") no-repeat center center fixed;
  background-size: cover;
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer .link {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255,255,255,0.8);
}
